#main {
  display: flex;
}

.left-side {
  flex-grow: 1;
  max-width: 320px;
  background: linear-gradient(to bottom, #f19b6d, #EB8665);
  color: #FEFEFD;
  padding: 10px;
  box-sizing: border-box;
}

.user-info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-photo, .message-item-photo {
  margin-right: 15px;
  background: url(/projects/mega-chat-3/no-photo.png);
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-list-header {
  text-transform: uppercase;
  font-weight: bold;
}

.user-list {
  padding: 5px 0 0 10px
}

.right-side {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
}

.messages-container {
  flex-grow: 1;
  overflow: scroll;
}

.input-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.message-input {
  height: 30px;
  flex-grow: 1;
  margin: 0 10px 0 0;
}

.send-button {
  height: 25px;
}
